 <!-- Aside -->

 {% include "layouts/manage/embed/aside.html" %}

 <!-- End: Aside -->

 <!-- Wrapping Content -->
 <div class="relative flex flex-col flex-1 xl:ps-[280px] xl:[&.expanded]:ps-[80px] xl:[&.TopExpanded]:ps-[0px] !transition-all !duration-[0.2s] ease-linear delay-[0s] bg-normalBG dark:bg-main-dark" id="content">
    <!-- Header -->
    {% include "layouts/manage/embed/header.html" %}
    <!-- End: Header -->

    <!-- Main Content -->
    {% include "layouts/manage/embed/content.html" %}
    <!-- End: Main Content -->
 </div>
 <!-- End: Wrapping Content -->