<div>
  {{ if .error }}
        <p>Invalid credentials</p>
    {{ end }}
    <form id="loginForm" method="POST" action="{{actionURL}}">
        <label for="identity">Identity:</label>
        <input type="text" id="identity" name="identity">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="button" value="Login" onclick="login()">
    </form>
</div>
<script language="javascript">
    function login() {
        alert('Hello not load page')
        return;
    }
</script>