<main class="bg-normalBG dark:bg-main-dark">
  <div class=" mx-[30px] min-h-[calc(100vh-195px)] mb-[30px] ssm:mt-[30px] mt-[15px]">


     <div class="grid grid-cols-12 gap-[25px]">
        <div class="col-span-12">
           <div class="p-[25px] bg-white rounded-10 dark:bg-box-dark">
              <h1 class="mb-0 text-lg text-dark dark:text-subtitle-dark">Skeleton Page</h1>
           </div>

        </div>
     </div>

  </div>

  <!-- Footer -->
  {% include "layouts/manage/embed/footer.html" %}
  <!-- end: Footer -->
</main>