<div>
  {{ if .error }}
  <p>Invalid credentials</p>
  {{ end }}
  <form id="loginForm" method="POST" action="{{actionURL}}">
    <label for="identity">Identity:</label>
    <input type="text" id="identity" name="identity" />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
    <br />
    <input type="button" value="Login" onclick="login()" />
  </form>
</div>
<script language="javascript">
  function login() {
    alert("Hello not load page");

    fetch("http://127.0.0.1:3000/api/product/1", {
      headers: {
        // Include the token in the Authorization header
        Authorization: "token {{tokenValue}}",
        Allow: "http://127.0.0.1:3000/",
        // Mode: 'no-cors', // attempt to save the day -
        //                  // currently all browsers refuse CORS;
        //                  // the server can control the behavior with a specific header
        //                  //'Access-Control-Allow-Origin': '*',
      },
    })
      // Parse the response as JSON
      .then((res) => res.json())
      .then((res) => {
        // Once we get the response (which has many fields)
        // Documented here: https://developer.github.com/v3/users/#get-the-authenticated-user
        // Write "Welcome <user name>" to the documents body
        // Load also user's avatar image
        console.log("res........", res);
        const nameNode = document.createTextNode(`Welcome, ${res.data?.title}`);
        document.body.appendChild(nameNode);
        // document.getElementById("useravatar").setAttribute("src", res.description)
      });

    return;
  }
</script>
